/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  color: #fff;
  height: 73px;
  outline: none;
  z-index: 10;
  font-weight: 300;
  font-size: 1.9rem;
  position: relative;
  line-height: 2.1rem;
  padding: 25px 20px;
  display: inline-block;
  border: 2px solid #fff;
  background: transparent;
}
.form_control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #fff;
}
.form_control::-webkit-input-placeholder {
  color: #fff;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form_control:disabled {
  background: #edeff2;
}
.form_control.error {
  border-color: #dc2626;
}

textarea.form_control {
  height: auto;
}

.form_placeholder {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 73px;
  color: #fff;
  display: block;
  font-weight: 300;
  font-size: 1.9rem;
  padding: 25px 20px;
  position: absolute;
  line-height: 2.3rem;
}
.form_placeholder sup {
  color: #dc2626;
}

.form_group {
  position: relative;
  margin-bottom: 24px;
}
.form_group.focus .form_placeholder {
  opacity: 0;
  visibility: hidden;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 3rem;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #2ecc71;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 14px 75px 12px 75px;
  border-bottom: 4px solid #179c4f;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #179c4f;
}
.btn:active {
  background: #2ecc71;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_send {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 3rem;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #2ecc71;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 30px 75px 28px 75px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn_send:hover {
  color: #fff;
  background: #179c4f;
}
.btn_send:active {
  background: #2ecc71;
}
.btn_send:focus, .btn_send.focus {
  outline: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.color-blue {
  color: #5675cc !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  font-family: "Roboto", Arial, sans-serif;
}

h2, .h2 {
  font-size: 4rem;
  font-family: "Roboto", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Roboto", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Roboto", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Roboto", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: #5675cc;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.header {
  color: #fff;
  position: relative;
}
.header__top {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  height: 120px;
  padding-top: 15px;
  position: absolute;
}
.header__logo {
  float: left;
  width: 330px;
  display: block;
}
.header__lng {
  float: right;
  font-size: 0;
  line-height: 0;
  margin-top: 24px;
  margin-left: 30px;
  padding-left: 20px;
  border-left: 2px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__lng a {
  color: #fff;
  width: 42px;
  height: 42px;
  margin: 0 2px;
  padding: 10px 0;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.header__lng a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header__lng a.active {
  border-color: #fff;
}
.header__phone {
  color: #fff;
  float: right;
  padding: 5px 0;
  font-size: 3rem;
  margin-top: 24px;
  line-height: 3.2rem;
  display: inline-block;
  text-decoration: none;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__title {
  font-size: 6rem;
  font-weight: 500;
  max-width: 760px;
  line-height: 6.6rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.header__text {
  font-weight: 500;
  font-size: 2.7rem;
  line-height: 2.8rem;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.header__slide {
  height: 694px;
  margin-bottom: 10px;
  position: relative;
  padding-top: 220px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.header__slide:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.header__slide .container {
  z-index: 10;
  position: relative;
}
.header .swiper-pagination {
  font-size: 0;
  line-height: 0;
}
.header .swiper-pagination-bullet {
  opacity: 1;
  width: 22px;
  height: 22px;
  margin: 0 9px !important;
  background: #434242;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.header .swiper-pagination-bullet-active {
  background: #c03f35;
}
.header .swiper-pagination-bullets {
  bottom: 0 !important;
}

body {
  min-width: 1220px;
}

.page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.first {
  padding-top: 105px;
  padding-bottom: 110px;
}
.first__heading {
  color: #434242;
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 4.6rem;
  text-align: center;
  margin-bottom: 70px;
}
.first__heading small {
  font-weight: 300;
  font-size: 4.2rem;
}
.first__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.first__list > li {
  width: 25%;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  padding: 135px 15px 0 15px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.first__list > li h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.first__list > li p {
  margin: 0;
  padding: 0;
}

.second {
  color: #fff;
  background: #292c2c;
  padding-top: 80px;
  padding-bottom: 180px;
}
.second__heading {
  position: relative;
  padding-left: 95px;
  padding-right: 150px;
  margin-bottom: 80px;
  background: url("../img/second__icon.png") 0 9px no-repeat;
}
.second h2 {
  font-size: 4rem;
  line-height: 4rem;
  color: #8bbf5d;
  text-transform: uppercase;
}
.second__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 4rem;
}
.second__nav {
  bottom: 5px;
  width: 13px;
  height: 26px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}
.second__nav:after, .second__nav:before {
  left: -1px;
  content: "";
  width: 16px;
  height: 1px;
  background: #fff;
  position: absolute;
}
.second__nav_next {
  right: 0;
}
.second__nav_next:after {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.second__nav_next:before {
  bottom: 7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.second__nav_prev {
  right: 50px;
}
.second__nav_prev:after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.second__nav_prev:before {
  bottom: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.second__slide {
  width: 370px;
}
.second__slide_image {
  width: 370px;
  margin-bottom: 15px;
}
.second__slide_title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.2rem;
  color: #8bbf5d;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.second__slide_text {
  color: #fff;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.second__slide_text p {
  margin: 0;
  padding: 0;
}

.third {
  padding-top: 25px;
  padding-bottom: 85px;
}
.third__heading {
  padding-left: 95px;
  margin-bottom: 60px;
  background: url("../img/third__heading_icon.png") 0 0 no-repeat;
}
.third h2 {
  font-size: 4.1rem;
  line-height: 4rem;
  color: #8bbf5d;
  text-transform: uppercase;
}
.third__subtitle {
  color: #000;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 4rem;
}
.third__service {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.third__service > li {
  width: 388px;
  margin-bottom: 85px;
}
.third__service_image {
  margin-bottom: 3px;
}
.third__service_name {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 20px 15px;
  line-height: 2.2rem;
  background: #5168ac;
}

.fourth {
  color: #fff;
  padding-top: 85px;
  padding-bottom: 138px;
  background: #292c2c;
}
.fourth__heading {
  padding-left: 90px;
  margin-bottom: 35px;
  background: url("../img/fourth__icon.png") 0 0 no-repeat;
}
.fourth h2 {
  font-size: 4.1rem;
  line-height: 4rem;
  color: #8bbf5d;
  text-transform: uppercase;
}
.fourth__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 4rem;
}
.fourth__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.fourth__left {
  width: 720px;
  padding-top: 40px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.fourth__right {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.fourth__form {
  width: 498px;
}
.fourth__image {
  width: 373px;
  height: 373px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.fifth {
  height: 380px;
}

#map {
  height: 380px;
}

.sixth {
  color: #292c2c;
  padding-top: 95px;
  padding-bottom: 120px;
}
.sixth h2 {
  color: #cc3230;
  font-size: 4.1rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.sixth__subtitle {
  color: #292c2c;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.sixth__address {
  font-weight: 300;
  font-size: 4.3rem;
  line-height: 4.3rem;
  text-align: center;
  margin-bottom: 25px;
}
.sixth__contact {
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.sixth__contact_phone {
  height: 60px;
  color: #292c2c;
  font-weight: 300;
  font-size: 6.3rem;
  line-height: 6rem;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
}
.sixth__contact_phone:hover {
  color: #292c2c;
  text-decoration: none;
}
.sixth__contact_elem {
  width: 60px;
  height: 60px;
  margin: 0 5px;
  display: inline-block;
  background: url("../img/icon__message.png") no-repeat;
}
.sixth__contact_elem.whatsapp {
  background-position: 0 0;
}
.sixth__contact_elem.whatsapp:hover {
  background-position: 0 -60px;
}
.sixth__contact_elem.viber {
  background-position: -60px 0;
}
.sixth__contact_elem.viber:hover {
  background-position: -60px -60px;
}

.social {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.social a {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  display: block;
  position: relative;
}
.social a i {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.social a:hover .social_base {
  opacity: 0;
  visibility: hidden;
}
.social a:hover .social_hover {
  opacity: 1;
  visibility: visible;
}
.social_base {
  opacity: 1;
  visibility: visible;
}
.social_hover {
  opacity: 0;
  visibility: hidden;
}

.footer {
  color: #6a6a6a;
  padding: 37px 0;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  background: #1d1d1d;
}
.footer a {
  color: #5675cc;
}

.modal {
  width: 650px;
  background: #fff;
  padding: 40px 60px;
}
.modal .thanks_text {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
