body {
	min-width: 1220px;
}

.page {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

.first {
	padding-top: 105px;
	padding-bottom: 110px;

	&__heading {
		color: #434242;
		font-weight: 500;
		font-size: 4.2rem;
		line-height: 4.6rem;
		text-align: center;
		margin-bottom: 70px;

		small {
			font-weight: 300;
			font-size: 4.2rem;
		}
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		@include flexbox();

		> li {
			width: 25%;
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 2.7rem;
			text-align: center;
			padding: 135px 15px 0 15px;
			background-position: 50% 0;
			background-repeat: no-repeat;

			h4 {
				font-weight: 700;
				font-size: 1.8rem;
				line-height: 2.4rem;
				margin-bottom: 25px;
				text-transform: uppercase;
			}

			p {
				margin: 0;
				padding: 0;
			}
		}
	}
}


.second {
	color: #fff;
	background: #292c2c;
	padding-top: 80px;
	padding-bottom: 180px;

	&__heading {
		position: relative;
		padding-left: 95px;
		padding-right: 150px;
		margin-bottom: 80px;
		background: url("../img/second__icon.png") 0 9px no-repeat;
	}

	h2 {
		font-size: 4rem;
		line-height: 4rem;
		color: $color-green;
		text-transform: uppercase;
	}

	&__subtitle {
		color: #fff;
		font-weight: 400;
		font-size: 3.4rem;
		line-height: 4rem;
	}

	&__nav {
		bottom: 5px;
		width: 13px;
		height: 26px;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			left: -1px;
			content: '';
			width: 16px;
			height: 1px;
			background: #fff;
			position: absolute;
		}

		&_next {
			right: 0;

			&:after {
				top: 7px;
				@include rotate(45deg);
			}

			&:before {
				bottom: 7px;
				@include rotate(-45deg);
			}
		}

		&_prev {
			right: 50px;

			&:after {
				top: 7px;
				@include rotate(-45deg);
			}

			&:before {
				bottom: 7px;
				@include rotate(45deg);
			}
		}
	}

	&__slide {
		width: 370px;

		&_image {
			width: 370px;
			margin-bottom: 15px;
		}

		&_title {
			font-weight: 700;
			font-size: 2.1rem;
			line-height: 2.2rem;
			color: $color-green;
			margin-bottom: 12px;
			text-transform: uppercase;
		}

		&_text {
			color: #fff;
			font-weight: 300;
			font-size: 1.7rem;
			line-height: 2.5rem;
			text-transform: uppercase;

			p {
				margin: 0;
				padding: 0;
			}
		}
	}
}


.third {
	padding-top: 25px;
	padding-bottom: 85px;

	&__heading {
		padding-left: 95px;
		margin-bottom: 60px;
		background: url("../img/third__heading_icon.png") 0 0 no-repeat;
	}

	h2 {
		font-size: 4.1rem;
		line-height: 4rem;
		color: $color-green;
		text-transform: uppercase;
	}

	&__subtitle {
		color: #000;
		font-weight: 400;
		font-size: 3.4rem;
		line-height: 4rem;
	}

	&__service {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		> li {
			width: 388px;
			margin-bottom: 85px;
		}

		&_image {
			margin-bottom: 3px;
		}

		&_name {
			color: #fff;
			font-size: 2rem;
			font-weight: 700;
			text-align: center;
			padding: 20px 15px;
			line-height: 2.2rem;
			background: #5168ac;
		}
	}
}


.fourth {
	color: #fff;
	padding-top: 85px;
	padding-bottom: 138px;
	background: #292c2c;

	&__heading {
		padding-left: 90px;
		margin-bottom: 35px;
		background: url("../img/fourth__icon.png") 0 0 no-repeat;
	}

	h2 {
		font-size: 4.1rem;
		line-height: 4rem;
		color: $color-green;
		text-transform: uppercase;
	}

	&__subtitle {
		color: #fff;
		font-weight: 400;
		font-size: 2.3rem;
		line-height: 4rem;
	}

	&__row {
		@include flexbox();
	}

	&__left {
		width: 720px;
		padding-top: 40px;
		@include flex-shrink(0);
	}

	&__right {
		@include flex-grow(1);
	}

	&__form {
		width: 498px;
	}

	&__image {
		width: 373px;
		height: 373px;
		overflow: hidden;
		@include border-radius(50%);
	}
}

.fifth {
	height: 380px;
}

#map {
	height: 380px;
}

.sixth {
	color: #292c2c;
	padding-top: 95px;
	padding-bottom: 120px;

	h2 {
		color: #cc3230;
		font-size: 4.1rem;
		line-height: 4rem;
		text-align: center;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__subtitle {
		color: #292c2c;
		font-weight: 400;
		font-size: 2.3rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 70px;
		text-transform: uppercase;
	}

	&__address {
		font-weight: 300;
		font-size: 4.3rem;
		line-height: 4.3rem;
		text-align: center;
		margin-bottom: 25px;
	}

	&__contact {
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin-bottom: 85px;
		@include flexbox();
		@include justify-content(center);

		&_phone {
			height: 60px;
			color: #292c2c;
			font-weight: 300;
			font-size: 6.3rem;
			line-height: 6rem;
			display: inline-block;
			text-decoration: none;
			margin-right: 10px;

			&:hover {
				color: #292c2c;
				text-decoration: none;
			}
		}

		&_elem {
			width: 60px;
			height: 60px;
			margin: 0 5px;
	//		padding: 4px 0;
			display: inline-block;
			background: url("../img/icon__message.png") no-repeat;

			&.whatsapp {
				background-position: 0 0;

				&:hover {
					background-position: 0 -60px;
				}
			}

			&.viber {
				background-position: -60px 0;

				&:hover {
					background-position: -60px -60px;
				}
			}
		}
	}
}


.social {
	font-size: 0;
	line-height: 0;
	@include flexbox();
	@include justify-content(center);

	a {
		width: 60px;
		height: 60px;
		margin: 0 10px;
		display: block;
		position: relative;

		i {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
		}

		&:hover {

			.social_base {
				opacity: 0;
				visibility: hidden;
			}

			.social_hover {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&_base {
		opacity: 1;
		visibility: visible;
	}

	&_hover {
		opacity: 0;
		visibility: hidden;
	}
}


.footer {
	color: #6a6a6a;
	padding: 37px 0;
	font-weight: 100;
	font-size: 1.6rem;
	line-height: 2rem;
	text-align: center;
	background: #1d1d1d;

	a {
		color: #5675cc;
	}
}

.modal {
	width: 650px;
	background: #fff;
	padding: 40px 60px;

	.thanks_text {
		font-size: 3rem;
		line-height: 1.2;
		text-align: center;
	}
}
