.header {
	color: #fff;
	position: relative;

	&__top {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1050;
		height: 120px;
		padding-top: 15px;
		position: absolute;
	}

	&__logo {
		float: left;
		width: 330px;
		display: block;
	}

	&__lng {
		float: right;
		font-size: 0;
		line-height: 0;
		margin-top: 24px;
		margin-left: 30px;
		padding-left: 20px;
		border-left: 2px solid #fff;
		@include flexbox();

		a {
			color: #fff;
			width: 42px;
			height: 42px;
			margin: 0 2px;
			padding: 10px 0;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			border: 1px solid transparent;
			@include border-radius(2px);

			&:hover {
				background: rgba(255,255,255,0.2);
			}

			&.active {
				border-color: #fff;
			}
		}
	}

	&__phone {
		color: #fff;
		float: right;
		padding: 5px 0;
		font-size: 3rem;
		margin-top: 24px;
		line-height: 3.2rem;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__title {
		font-size: 6rem;
		font-weight: 500;
		max-width: 760px;
		line-height: 6.6rem;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__text {
		font-weight: 500;
		font-size: 2.7rem;
		line-height: 2.8rem;
		margin-bottom: 40px;
		text-transform: uppercase;
	}

	&__slide {
		height: 694px;
		margin-bottom: 10px;
		position: relative;
		padding-top: 220px;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			background: rgba(0,0,0,0.5);
		}

		.container {
			z-index: 10;
			position: relative;
		}
	}

	.swiper-pagination {
		font-size: 0;
		line-height: 0;
	}

	.swiper-pagination-bullet {
		opacity: 1;
		width: 22px;
		height: 22px;
		margin: 0 9px !important;
		background: #434242;
		border: 3px solid #fff;
		@include border-radius(50%);
	}

	.swiper-pagination-bullet-active {
		background: #c03f35;
	}

	.swiper-pagination-bullets {
		bottom: 0 !important;
	}
}
