// Color system

$color-white:               #fff !default;
$color-black:               #000 !default;
$color-blue:                #5675cc !default;
$color-green:               #8bbf5d !default;

$color-base:                $color-black;

// Fonts

$font-family-base:          'Roboto', Arial, sans-serif !default;
$font-family-head:          'Roboto', Arial, sans-serif !default;

$font-size-reset:           10px;

$font-size-base:            1.6rem !default;
$font-size-lg:              ($font-size-base * 1.25) !default;
$font-size-sm:              ($font-size-base * .875) !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          700 !default;

$font-weight-base:          $font-weight-normal !default;
$line-height-base:          1.625 !default;


// Links

$link-color:                $color-blue !default;
$link-decoration:           none !default;
$link-hover-color:          $color-black !default;
$link-hover-decoration:     none !default;


// Page

$body-bg:                   $color-white !default;
$body-color:                $color-black !default;



$container:               1220px;


$gutter: 1rem !default; // Set gutter size
