
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 2.3rem;
	line-height: 3rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #2ecc71;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 14px 75px 12px 75px;
	border-bottom: 4px solid #179c4f;

	@include border-radius(2px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #179c4f;
	}

	&:active {
		background: #2ecc71;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_send {
	width: 100%;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 2.3rem;
	line-height: 3rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #2ecc71;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 30px 75px 28px 75px;

	@include border-radius(2px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #179c4f;
	}

	&:active {
		background: #2ecc71;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}