.form_control {
	margin: 0;
	width: 100%;
	color: #fff;
	height: 73px;
	outline: none;
	z-index: 10;
	font-weight: 300;
	font-size: 1.9rem;
	position: relative;
	line-height: 2.1rem;
	padding: 25px 20px;
	display: inline-block;
	border: 2px solid #fff;
	background: transparent;
	@include placeholder(#fff);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&:disabled {
		background: #edeff2;
	}

	&.error {
		border-color: #dc2626;
	}
}

textarea.form_control {
	height: auto;
}

.form_placeholder {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 73px;
	color: #fff;
	display: block;
	font-weight: 300;
	font-size: 1.9rem;
	padding: 25px 20px;
	position: absolute;
	line-height: 2.3rem;

	sup {
		color: #dc2626;
	}
}

.form_group {
	position: relative;
	margin-bottom: 24px;

	&.focus {

		.form_placeholder {
			opacity: 0;
			visibility: hidden;
		}
	}
}